.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.dashboard-dropdown {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1000;
}

.dashboard-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.dashboard-button:hover {
  background-color: #0056b3;
}

.dropdown-content {
  position: fixed;
  bottom: 5rem;
  right: 4rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1001;
}

.dropdown-content>div {
  padding: 1rem;
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown-content div:hover {
  background-color: #f0f0f0;
}