.user-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.user-details {
  text-align: center;
  margin-bottom: 20px;
}

.user-profile-image {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 2rem;
}

.user-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.user-email {
  font-size: 1rem;
}

.user-actions {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.user-actions button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-actions button:hover {
  background-color: #0056b3;
}

.back-to-dashboard-link {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.back-to-dashboard-link:hover {
  text-decoration: underline;
}